<style>
.watch-image {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10%;
}
</style>

<h1>Your Upcoming Rentals</h1>

<% if @user_rentals.any? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Watch</th>
          <th>Model</th>
          <th>Picture</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @user_rentals.each do |rental| %>
          <tr>
            <td><%= rental.watch.brand %></td>
            <td><%= rental.watch.model %></td>
            <td>
              <% if rental.watch.image.attached? %>
                <%= image_tag rental.watch.image, class: "watch-image" %>
              <% end %>
            </td>
            <td><%= rental.start_date %></td>
            <td><%= rental.end_date %></td>
            <td>
            <% if rental.end_date && rental.start_date %>
            <%= number_to_currency((rental.end_date - rental.start_date) * rental.watch.price) %></td>
            <% end %>
            <td>
              <%= button_to "Cancel Rental", rental_path(rental), method: :delete, data: { confirm: "Are you sure you want to delete this rental?" }, class: "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>You have no upcoming rentals.</p>
<% end %>


<br>
<br>
<br>
<br>

<h1>Your Previous Rentals</h1>


<% if @user_historical_rentals.any? %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Watch</th>
        <th>Model</th>
        <th>Picture</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @user_historical_rentals.each do |rental| %>
        <tr>
          <td><%= rental.watch.brand %></td>
          <td><%= rental.watch.model %></td>
          <td>
            <% if rental.watch.image.attached? %>
              <%= image_tag rental.watch.image, class: "watch-image" %>
            <% end %>
          </td>
          <td><%= rental.start_date %></td>
          <td><%= rental.end_date %></td>
          <td>
            <% if rental.end_date && rental.start_date %>
              <%= number_to_currency((rental.end_date - rental.start_date) * rental.watch.price) %>
            <% end %>
          </td>
          <td>
            <% if rental.review.present? %>
              <p class="text-start">You reviewed <%= "#{'★' * rental.review.rating}#{'☆' * (5 - rental.review.rating)}" %></p>
            <% else %>
              <%= link_to "Leave Review", new_rental_review_path(rental.id), class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% else %>
  <p>You have no previous rentals.</p>
<% end %>
