<style>
.watch-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.rental-form {
  padding: 20px;
  background-color: #f7f7f7;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.address-wrapper {
  display: flex;
  align-items: center;
}

.address-icon {
  margin-right: 5px;
}
</style>

<head> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2><%= @watch.brand %> <%= @watch.model %></h2>
          <p><%= @watch.description %></p>
          <div class="address-wrapper d-flex justify-content-between">
            <p><strong>Price:</strong> <%= @watch.price%> £</p>
            <p class="ml-auto text-right">
              <i class="fas fa-map-marker-alt address-icon"></i>
              <%= @watch.address %>
            </p>
          </div>
          <%= image_tag @watch.image, class: "watch-image" if @watch.image.attached? %>
          <%= form_for @rental, url: watch_rentals_path(@watch) do |f| %>
            <% if @rental.errors.any? %>
              <div class="alert alert-danger">
                <% @rental.errors.full_messages.each do |msg| %>
                  <div><%= msg %></div>
                <% end %>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :start_date %>
              <%= f.date_field :start_date, class: "form-control", min: Date.today %>
            </div>

            <div class="form-group">
              <%= f.label :end_date %>
              <%= f.date_field :end_date, class: "form-control", min: Date.tomorrow %>
            </div>

            <%= f.hidden_field :watch_id, value: @watch.id %>

            <%= f.submit "Create Rental", class: "btn btn-primary mt-3" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <!-- Rental reviews card -->
              <h2>Reviews</h2>

                <% @reviews.each do |review| %>
                  <div class="review-item mt-3 mb-5">
                    <div class="review-content d-flex justify-content-start">
                      <p><%= review.content %></p>
                    </div>
                    <div class="star-rating">
                      <% (1..5).each do |i| %>
                        <% if i <= review.rating %>
                          <%= image_tag('https://icon-library.com/images/rating-star-icon/rating-star-icon-15.jpg', size: '20') %>
                        <% else %>
                          <%= image_tag('https://img.icons8.com/?size=512&id=104&format=png', size: '20') %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>

            </div>
          </div>
        </div>
  </div>
</div>
