<div class="container">
  <div class="row">
    <% @watches.each do |watch| %>
      <div class="col-md-3 mt-3 mb-3">
        <div class="card">
          <div class="card-body rental-card-body">
            <strong><%= watch.brand %> <%= watch.model %></strong><br>
            <%= watch.description %><br>
            <%= number_to_currency(watch.price) %><br>
            <%= watch.address %><br>
            <% if watch.image.attached? %>
              <div class="image-container">
                <%= image_tag watch.image %>
              </div>
            <% end %>
            <%= link_to 'Edit', edit_watch_path(watch) %>
            <%= button_to 'Delete', watch_path(watch), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
